<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Betting Online Home Page</title>
<link href="../static/css/style_sport.css"
	th:href="@{/css/style_sport.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header> </header>
	<nav class="nav">
			<ul>
				<li><a href="index.html">football</a></li>
				<li><a href="sport.html">basketball </a></li>
				<li><a href="">voleyball</a></li>
				<li><a href="">handball</a></li>
				<li><a href="">tennis</a></li>
				<li><a href="">rugby</a></li>
				<li><a href="">picado</a></li>
				<li><a href="">baseball</a></li>
			</ul>
	</nav>
	<section class="home">
			<div class="container1">
			<div class="hello">
				<p id="hello">Hello veljo:)</p>
			</div>
			
				<div class="secnav">
					<ul>
						<li><a href="">competitions and teams</a></li>
						<li><a href="">bet !!!</a></li>
						<li><a href="">my bets</a></li>
					</ul>
				</div>
			<div class="bye">
				<a href="">Log out</a>
			</div>
			</div>
			<!-- ============ -->
			<!-- = Football = -->
			<!-- ============ -->
			<div class="container2">
					<h2>Football - bet right now !</h2>
					<table class="outer">
					<tr>
						<td>
							<table class="inner">
								<tr>
									<th class="num">match ID</th>
									<th class="txt">datetime</th>
									<th class="txt">home</th>
									<th class="txt">away</th>
									<th class="num">1</th>
									<th class="num">X</th>
									<th class="num">2</th>
								</tr>
								<tr>
									<td class="num" th:text="${match.getID()}"></td>
									<td class="txt"
										th:text="${#dates.format(match.dateTime, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td class="txt" th:text="${match.domestic.getTeamName()}"></td>
									<td class="txt" th:text="${match.guest.getTeamName()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('1').getQuotaValue()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('x').getQuotaValue()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('2').getQuotaValue()}"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
					<form action="#" th:action="@{/betting/processBet}" th:object="${bet}" method="post">
  						<label>Confirm matchID</label>
  						<input type="text" th:field="*{ID}" />
  						<!--  <label>Enter your tip (1, X or 2)</label>
  						<input type="text" th:field="*{betState}" />-->
  						<input type="submit" />
					</form>
				</div>
	</section>
	<footer>
		<br /> <br /> by nocnisetac 2016
	</footer>
</body>
</html>