<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Betting Online Home Page</title>
<link href="../static/css/style_sport.css"
	th:href="@{/css/style_sport.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header> </header>
	<nav class="nav">
			<ul>
				<li><a href="index.html">football</a></li>
				<li><a href="sport.html">basketball </a></li>
				<li><a href="">voleyball</a></li>
				<li><a href="">handball</a></li>
				<li><a href="">tennis</a></li>
				<li><a href="">rugby</a></li>
				<li><a href="">picado</a></li>
				<li><a href="">baseball</a></li>
			</ul>
	</nav>
	<section class="home">
			<div class="container1">
			<div class="hello">
				<p id="hello">Hello veljo:)</p>
			</div>
			
				<div class="secnav">
					<ul>
						<li><a th:href="@{'/betting/competitions/'+ ${sport.getID()}}">competitions
								and teams</a></li>
						<li><a th:href="@{'/betting/showBets/'+ ${sport.getID()}}">bet !!!</a></li>
						<li><a th:href="@{'/betting/myBets'}">my bets</a></li>
					</ul>
				</div>
			<div class="bye">
				<a href="">Log out</a>
			</div>
			</div>
			<!-- ============ -->
			<!-- = Football = -->
			<!-- ============ -->
			<div class="container2">
			<div th:if="${sport.getID()==2}"> 
				<h2>Football - all matches, results and quotas</h2>
				<table class="outer">
					<tr>
						<td>
							<table class="inner">
								<tr>
									<th class="txt">competition</th>
									<th class="txt">datetime</th>
									<th class="txt">home</th>
									<th class="txt">away</th>
									<th class="num">h</th>
									<th class="num">a</th>
									<th class="txt">state</th>
									<th class="num">1</th>
									<th class="num">X</th>
									<th class="num">2</th>
								</tr>
							</table>
						</td>
					</tr>
					<tr th:each="competition : ${sport.getCompets()}">
						<td>
							<table class="inner">
								<tr th:each="match : ${competition.getMatches()}">
									<td class="txt" th:text="${competition.competitionName}"></td>
									<td class="txt"
										th:text="${#dates.format(match.dateTime, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td class="txt" th:text="${match.domestic.getTeamName()}"></td>
									<td class="txt" th:text="${match.guest.getTeamName()}"></td>
									<td class="num"
										th:text="${match.getResults().get('end game')!=null} ? ${match.getResults().get('end game').getDomestic()} : ${'-'}"></td>
									<td class="num"
										th:text="${match.getResults().get('end game')!=null} ? ${match.getResults().get('end game').getGuest()} : ${'-'}"></td>
									<td class="txt" th:text="${match.getState()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('1').getQuotaValue()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('x').getQuotaValue()}"></td>
									<td class="num"
										th:text="${match.getQuotas().get('2').getQuotaValue()}"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<!-- ============== -->
			<!-- = Basketball = -->
			<!-- ============== -->
			<div id="compets" th:if="${sport.getID()==1}">
				<h2>Basketball</h2>
			</div>
		</div>
	</section>
	<footer>
		<br /> <br /> by nocnisetac 2016
	</footer>
</body>
</html>